{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        org.shredzone.acme4j/acme4j-client {:mvn/version "2.7"}
        org.shredzone.acme4j/acme4j-utils {:mvn/version "2.7"}
        org.bouncycastle/bcpkix-fips {:mvn/version "1.0.3"}}
 :aliases
 {}}
